.chat-box-container {
  font-family: "Arial", sans-serif;
}

.chat-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.chat-area::-webkit-scrollbar {
  width: 5px;
}

.chat-area::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.message-bubble {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-bubble.sent {
  background-color: #3a3df5;
  align-self: flex-end;
  text-align: right;
}

.message-bubble.received {
  background-color: #37becf;
  align-self: flex-start;
  text-align: left;
}

.input-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.send-button {
  cursor: pointer;
}
