<div
  id="content-col"
  class="flex flex-col justify-between min-w-[30rem] w-full h-full flex-grow bg-gray-500 p-5 pb-0"
>
  <div
    class="flex items-center p-4 bg-gray-800 text-white shadow-md rounded-lg mb-3"
  >
    <!-- Icon -->
    <div class="flex mr-2">
      <ng-container *ngIf="channel.type === 'TEXT'; else videoIcon">
        <mat-icon>chat</mat-icon>
      </ng-container>
      <ng-template #videoIcon>
        <mat-icon>videocam</mat-icon>
      </ng-template>
    </div>

    <!-- Channel Name -->
    <h1 class="text-lg font-semibold">{{ channel.name }}</h1>
  </div>

  <!-- Display call component or chat component based on type of channel -->
  <div
    *ngIf="channel.type === 'VIDEO'"
    class="h-full"
  >
    <app-video-call class="h-full" [channel]="channel"></app-video-call>
  </div>
  <div class="h-full flex flex-col justify-end" *ngIf="channel.type === 'TEXT'">
    <app-chat [channel]="channel" class="h-full"></app-chat>
  </div>
</div>
