<div class="flex flex-row w-full h-full" *ngIf="servers.length>0"  >
    <div id="servers-col" class="flex flex-col min-w-[5rem] bg-black justify-start items-center">
        <div class="flex flex-col pt-5">
            <button (click)="openModal()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
        <div class="flex flex-col items-center my-1">
            <div class="bg-gray-500 w-20 h-px">
            </div>
        </div>
    
        <div class="flex gap-3 mt-2 flex-col flex-grow items-center">
            <div (click)="onSelectServer(server)" *ngFor="let server of servers" [ngClass]="[server.id==selectedServer.id?'border-2 border-white bg-gray-400 hover:bg-gray-700':'bg-gray-300 hover:bg-gray-500', ' rounded-full','p-2','transition', 'transition-30', 'ease-in-out']">
                    <img class="w-12 h-12 object-cover rounded-full max-w-[40px] max-h-[40px]" src="{{server.dpUrl}}" alt="">
            </div>
        </div>
        <div class="flex flex-col min-h-20 min-w-20 items-center gap-2 justify-stretch">
            <mat-icon class="text-5xl h-10">dark_mode</mat-icon>
            <mat-icon class="text-5xl h-10" (click)="openProfileModal()">account_circle_outlined</mat-icon>
        </div>
    </div>
    <app-channel class="w-full" (serverLeave)="onLeaveServer($event)" (serverDelete)="onDeleteServer($event)" [server]="selectedServer"></app-channel>
</div>
<app-account-modal *ngIf="isProfileModalOpen" (close)="closeProfileModal()"></app-account-modal>

<app-create-server-modal
[isVisible]="isCreateServerModalOpen"
(close)="closeModal()"
(serverCreatedOrJoined)="onServerCreatedOrJoined($event)">
</app-create-server-modal>